## 데이터 분석 준비하기

In [1]:
pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.7-cp312-cp312-win_amd64.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\shs21\anaconda3\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shs21\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shs21\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shs21\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shs21\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shs21\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Downloading pyreadstat-1.2.7-cp312-cp312-win_amd64.whl (2.4 MB)
   ---------------------------------------- 0.0/2.4 MB ? eta -:--:--
   ---------------------- ----------------- 1.4/2.4 MB 29.2 MB/s eta 0:00:01
   ---------------------------------------- 2.4/2.4 MB 30.8 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.7
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
# 데이터 불러오기
raw_welfare = pd.read_spss('Koweps_hpwc14_2019_beta2.sav')

# 복사본 만들기
welfare = raw_welfare.copy()

In [6]:
welfare           # 앞부분, 뒷부분 출력

,h14_id,h14_ind,h14_sn,h14_merkey,h_new,h14_cobf,p14_wsc,p14_wsl,p14_wgc,p14_wgl,...,wc14_64,wc14_65,wc14_5aq4,wc14_5aq5,wc14_5aq6,h14_pers_income1,h14_pers_income2,h14_pers_income3,h14_pers_income4,h14_pers_income5
0,2.0,1.0,1.0,20101.0,0.0,NaN,0.291589,0.291589,1307.764781,1307.764781,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,3.0,1.0,1.0,30101.0,0.0,NaN,0.419753,0.419753,1882.570960,1882.570960,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,4.0,1.0,1.0,40101.0,0.0,NaN,0.265263,0.265980,1189.691668,1192.908537,...,NaN,,NaN,NaN,NaN,NaN,1284.0,NaN,0.0,NaN
3,6.0,1.0,1.0,60101.0,0.0,NaN,0.494906,0.495941,2219.630833,2224.273816,...,1.0,.,2.0,4.0,4.0,2304.0,NaN,1800.0,0.0,NaN
4,6.0,1.0,1.0,60101.0,0.0,NaN,1.017935,1.017935,4565.389177,4565.389177,...,1.0,.,1.0,5.0,2.0,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14413,9800.0,7.0,1.0,98000701.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
14414,9800.0,7.0,1.0,98000701.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
14415,9800.0,7.0,1.0,98000701.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,208.0,NaN,0.0,NaN
14416,9800.0,7.0,1.0,98000701.0,1.0,NaN,NaN,NaN,NaN,NaN,...,5.0,.,4.0,3.0,3.0,NaN,1200.0,NaN,0.0,NaN
14417,9800.0,7.0,1.0,98000701.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [7]:
welfare.shape     # 행, 열 개수 출력

(14418, 830)

In [8]:
welfare.info()    # 변수 속성 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14418 entries, 0 to 14417
Columns: 830 entries, h14_id to h14_pers_income5
dtypes: float64(826), object(4)
memory usage: 91.3+ MB

In [9]:
welfare.describe  # 요약 통계량

<bound method NDFrame.describe of        h14_id  h14_ind  h14_sn  h14_merkey  h_new  h14_cobf   p14_wsc  \
0         2.0      1.0     1.0     20101.0    0.0       NaN  0.291589
1         3.0      1.0     1.0     30101.0    0.0       NaN  0.419753
2         4.0      1.0     1.0     40101.0    0.0       NaN  0.265263
3         6.0      1.0     1.0     60101.0    0.0       NaN  0.494906
4         6.0      1.0     1.0     60101.0    0.0       NaN  1.017935
...       ...      ...     ...         ...    ...       ...       ...
14413  9800.0      7.0     1.0  98000701.0    1.0       NaN       NaN
14414  9800.0      7.0     1.0  98000701.0    1.0       NaN       NaN
14415  9800.0      7.0     1.0  98000701.0    1.0       NaN       NaN
14416  9800.0      7.0     1.0  98000701.0    1.0       NaN       NaN
14417  9800.0      7.0     1.0  98000701.0    1.0       NaN       NaN

        p14_wsl      p14_wgc      p14_wgl  ...  wc14_64  wc14_65  wc14_5aq4  \
0      0.291589  1307.764781  1307.764781  ...      NaN                 NaN
1      0.419753  1882.570960  1882.570960  ...      NaN                 NaN
2      0.265980  1189.691668  1192.908537  ...      NaN                 NaN
3      0.495941  2219.630833  2224.273816  ...      1.0        .        2.0
4      1.017935  4565.389177  4565.389177  ...      1.0        .        1.0
...         ...          ...          ...  ...      ...      ...        ...
14413       NaN          NaN          NaN  ...      NaN                 NaN
14414       NaN          NaN          NaN  ...      NaN                 NaN
14415       NaN          NaN          NaN  ...      NaN                 NaN
14416       NaN          NaN          NaN  ...      5.0        .        4.0
14417       NaN          NaN          NaN  ...      NaN                 NaN

       wc14_5aq5  wc14_5aq6  h14_pers_income1  h14_pers_income2  \
0            NaN        NaN               NaN               NaN
1            NaN        NaN               NaN               NaN
2            NaN        NaN               NaN            1284.0
3            4.0        4.0            2304.0               NaN
4            5.0        2.0               NaN               NaN
...          ...        ...               ...               ...
14413        NaN        NaN               NaN               NaN
14414        NaN        NaN               NaN               NaN
14415        NaN        NaN               NaN             208.0
14416        3.0        3.0               NaN            1200.0
14417        NaN        NaN               NaN               NaN

       h14_pers_income3  h14_pers_income4  h14_pers_income5
0                   NaN               0.0               NaN
1                   NaN               0.0               NaN
2                   NaN               0.0               NaN
3                1800.0               0.0               NaN
4                   NaN               0.0               NaN
...                 ...               ...               ...
14413               NaN               0.0               NaN
14414               NaN               0.0               NaN
14415               NaN               0.0               NaN
14416               NaN               0.0               NaN
14417               NaN               0.0               NaN

[14418 rows x 830 columns]>

In [11]:
# 변수명 바꾸기
welfare = welfare.rename(
    columns = {'h14_g3'    : 'sex',           # 성별
               'h14_g4'    : 'birth',         # 태어난 연도
               'h14_g10'   : 'marriage_type', # 혼인 상태
               'h14_g11'   : 'religion',      # 종교
               'p1402_8aq1': 'income',        # 월급
               'h14_eco9'  : 'code_job',      # 직업 코드
               'h14_reg7'  : 'code_region'})  # 지역 코드